form{
    border: 2px solid black;
    width: 41%;
    padding: 7px;
}
body{
    margin-left: 38%;
    margin-top: 75px;
}
#butt{
    margin-left: 35%;
}
.s{
    margin-left: 9%;

}
#s1{
    margin-left: 20%;

}