<div class="container col-md-6 mt-5">
<div class="card float-left bg-warning" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">SHWETA JADHAV</h5>
      <h6 class="card-subtitle mb-2 text-muted">UST EMPLOYEE</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">JOB INFO</a>
      
    </div>
  </div>
  <div class="card bg-warning" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">SUKANYA HURUSNALE</h5>
      <h6 class="card-subtitle mb-2 text-muted">UST EMPLOYEE</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">JOB INFO</a>
      
    </div>
  </div>
</div>