<div class="container">
        <table class="table table-bordered  table-hover mt-5">
            <thead class="thead-dark">
            <tr >
                <th>Id</th>
                <th>Task</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let task of firebase.Task;index as i'>
                <td>{{i+1}}</td>
                <td>{{task.name}}</td>
                <td><button class="btn btn-outline-primary" (click)='updateTask(task)'>Update</button></td>
                <td><button class="btn btn-outline-danger" (click)='deleteTask(task)'>Delete</button></td>
            </tr>
        </tbody>
        </table>
    </div>