<nav class="navbar navbar-expand-sm navbar-light bg-info" style="font-size: 36px;font-family: sans-serif" >
    <a class="navbar-brand" routerLink="#" style="    font-size: 32px;background: skyblue;padding: 11px;border-radius: 45px">NewsReport</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">category</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/bussiness">Bussiness</a>
                    <a class="dropdown-item" routerLink="/sport">Sports</a>
                    <a class="dropdown-item" routerLink="/technology">Technology</a>
                    <a class="dropdown-item" routerLink="/health">Health</a>
                    <a class="dropdown-item" routerLink="/entertainment">Entertainment</a>



                </div>
            </li>
        </ul>
        
    </div>
</nav>